{% assign ed = page.edition | default: 'latest' %}
{% assign feats = site.features | where_exp: "f", "f.relative_path contains ed" %}

<main>
  {% for feature in feats %}
    {% if feature.id %}
      {% unless feature.relative_path contains '/not_needed/' %}
        <!-- invisible anchor offset by nav height -->
        <a id="{{ feature.id }}" style="display:block; position:relative; top:-120px; visibility:hidden;"></a>

        <section class="feature-section">
          {% if my_variable != blank %}
            <img class='{% cycle 'pull-right', 'pull-left' %}' src='{{ feature.image }}'>
          {% endif %}
          <h2>{{ feature.heading }}<br /><span>{{ feature.subheading }}</span></h2>
          <div{% if feature.div_class != nil and feature.div_class != "" %} class='{{ feature.div_class }}'{% endif %}>
            {{ feature.content }}
          </div>
        </section>
        <hr>
      {% endunless %}
    {% endif %}
  {% endfor %}
</main>
